* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    font-weight: 400;
    width: 900px;
    padding: 77px 0px;
    margin: auto;
    background-color: #ffffff;
}

.header {
    list-style: none;
    width: 580px;
    margin: 0 auto 103px;
}

.navigation {
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    margin-right: 100px;
}

.navigation:last-child {
    margin-right: 0;
}

.link {
    text-decoration: none;
    color: #000000;
}

.link:hover {
    color: #0000ff;
}

.main {
    font-size: 0;
}

.article {
    width: 420px;
    margin: 0 60px 135px 0;
    display: inline-block;
}

.article:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.article:nth-child(2n+2) {
    margin-right: 0;
}

.fig {
    margin-bottom: 30px;
}

.img {
    margin-bottom: 30px;
}

.figcaption {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

.article-title {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin-bottom: 40px;
}

.text {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}

.butn {
    display: block;
    background-color: #ffffff;
    border: 1px solid #000000;
    margin: 57px auto;
    padding:20px 35px;
}

button:hover {background: #00fffc;}
button:active {background: #57bdb5;}