@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    width: 1200px;
    padding: 77px 150px 70px;
    margin: auto;
    background-color: #ffffff;
    text-align: center;
}

ul {
    text-align: center;
}

ul li{
    display: inline-block;
    text-align: center;
    padding: 0 40px;
    margin-bottom: 3px;
}

li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    color: #000000;
}

main {
    font-size: 0;
}
.parrent > article {
    vertical-align: top;
}
.news{
    font-size: 22px;
    width: 420px;
    display: inline-block;
    text-align: left;
}

article.p {
    font-size: 11px;
}

.align-columns {
    margin-right: 60px;
}

article {
    margin: 100px 0 35px;
}

img { margin-bottom: 30px;
}

figcaption {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 11px;
}

h2 {
    margin-bottom: 40px;
    font-size: 22px;
}

button.hover {
    display: inline-block;
    border-color: #000000;
    border: 1px, solid;
    margin: 57px auto;
    padding:21px 33px;
}

button:hover {background: #00fffc;}
button:active {background: #57bdb5;}