main .container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.title {
    width: 320px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight:700;
    text-transform: uppercase;
    position: relative;
    min-height: 170px;
    align-content: flex-start;
}

.pre-title {
    font-family: 'Kaushan Script', cursive, sans-serif;
    font-size: 24px;
    line-height: 2;
    text-transform: none;
}

.title:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    position: absolute;
    left: 50%;
    top: 60%;
    background-color: #f38181;
    transform: translateX(-50%);
}

.group-wrap {
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
}

.card {
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.picto {
    align-self: flex-start;
    margin-right: 1.75rem;
}

.card-about {

    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    min-height: 170px;

}

.card-title {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    flex-grow: 0.17;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #b6b6b6;
}