.wrapper-header {
    background-color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.125rem 0 1.25rem;
}

.logo {
    font-family: 'Wisdom Script AI', sans-serif;
    font-size: 1.625rem;
    color: #fed136;
    display: inline-block;
}

.nav {
    flex-basis: 51.5%;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu-item {
    font-size: 14px;
    font-family: 'Montserrat-Regular',sans-serif;
    text-transform: uppercase;
}

.menu-link:hover {
    color: #fed136;
}
