* {
    margin: 0;
    padding: 0;
    /*list-style-position: outside;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*font-family: 'Open Sans', sans-serif;*/
    outline: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;

}