@import "reset.css";
@font-face {
    font-family:Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf)
}

body {
    background-color: aliceblue;
}

.wrapper {
    width: 1110px;
    padding: 40px 0 80px;
    margin: auto;
}

.logo {
    text-decoration: none;
    color: #000000;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    float: left;
}

.logo:first-letter {
    color: #1abc9c;
}

.navig-menu {
    float: right;
    list-style: none;
    font-family: "Open Sans",sans-serif;
    margin-right: 30px;
    font-weight:700;
    font-size: 14px;
}

.navig-menu:first-child {
    margin-right: 0;
}

.navig-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

.navig-link:hover {
    color: #1abc9c;
}

.navigation {
    margin-bottom: 110px;
}

.title{
    font-family: Roboto, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    margin-bottom: 90px;
    color: #515151;
}

.title:after {
    display: block;
    margin: auto;
    content: '';
    height: 44px;
    width: 165px;
    border-bottom: 7px solid #1abc9c;
}

.prod-gallery {
    font-size: 0;
}

.section {
    list-style: none;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 18px;
}

.section:nth-child(4n) {
    margin-right: 0;
}

.section:nth-last-child(-n+4) {
    margin-bottom: 0;
}

.prod-img {
    display: block;
}

.prod-caption {
    display: block;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
}

.prod-name {
    float: left;
    width: 70%;
    text-transform: uppercase;
    background-color: #323232;
    padding: 14px 12px 12px;
}

.prod-price {
    float: right;
    width: 30%;
    text-transform: uppercase;
    background-color: #8c8c8c;
    padding: 14px 12px 12px;
    text-align: center;
}

.section:hover .prod-name {
    background-color: #1abc9c;
}

.section:hover .prod-price {
    background-color: #7fd9c7;
}

.article:first-child {
    margin-bottom: 105px;
}

.news-block {
    width: 350px;
    float: left;
    margin-right: 30px;
}

.news-block:last-child {
    margin-right: 0;
}

.news-img {
    margin-bottom: 20px;
}

.news-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.news-title:after {
    display: block;
    content: '';
    width: 135px;
    height: 15px;
    border-bottom: 3px solid #4ec6ab;
}

.news-caption {
    margin-bottom: 30px;
}

.news-text {
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.more-btn {
    padding: 23px 45px 18px;
    text-align: center;
    background-color: #4ec6ab;
    border-radius: 3px;
    border: 3px solid #4ec6ab;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-transform: capitalize;
}
