.email {
    width: 940px;
    display: block;
    margin: auto;
    color: #464b4f;
    padding: 235px 0 265px;
    text-align: center;
    font-size: 0;
}

.email-logo {
    margin-bottom: 95px;
}

.email-text {
    padding: 0 240px;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 65px;
}

.email-input {
    width: 380px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    font-size: 18px;
    padding: 25px 20px 25px;
    font-weight: 300;
}

.push {
    border-radius: 4px;
    background-color: #7b77c9;
    border: 1px solid #7b77c9;
    padding: 25px 65px 25px;
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
}