@import "reset.css";
@import "header.css";
@import "what.css";
@import "work.css";
@import "photo.css";
@import "email.css";
@import "copyright.css";
@font-face {
    font-family: "Socialico", sans-serif;
    src: url("../fonts/socialico.ttf");
}

.wrapper-light {
    background-color: #ffffff;
}

.wrapper-dark {
    background-color: #23232e;
}

.main {
    display: block;
    margin: auto;
    font-family:"Segoe UI",sans-serif;
}
.white-title {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 80px;
    text-align: center;
}

.dark-title {
    text-transform: uppercase;
    color: #464b4f;
    font-size: 80px;
    text-align: center;
}